@use "functions";

$colors_theme : (
  "primary"        : "primary",
  "error"          : "error",
  "danger"         : "danger",
  "warning"        : "warning",
  "success"        : "success",
  "info"           : "info",
  "text"           : "text",
  "text-secondary" : "text-secondary",
  "secondary"      : "secondary",
  "hint"           : "secondary",
  "title"          : "light",
  "border"         : "border",
  "bg"             : "background",
  "accent"         : "accent",
);

$colors : (
  "light"          : #fff,
  "dark"           : #000619,
  "gray"           : #26272e,
  "primary"        : #ff3600,
  "secondary"      : #ffb08a,
  "background"     : #fff,
  "warning"        : #ffba06,
  "danger"         : #f50000,
  "success"        : #30d238,
  "info"           : #63e3ff,
  "text"           : #171c34,
  "text-secondary" : #747785,
  "border" : #d1d2d6,
  "accent"         : #f5f5f7,
);

@mixin colors {
  @if $colors {
    @if $colors_theme {
      @each $key, $value in $colors_theme {
        --color-#{$key} : var(--color-#{$value});
      }
    }

    @each $key, $value in $colors {
      --color-#{$key} : #{functions.hex-to-rgb($value)};
    }
  }
}
