line {
    stroke: black
}

circle {
    stroke: #0059ff;
}

polyline {
    stroke: #ff3600;
    stroke-width: 1;
    fill-opacity: 0;
}

.stop {
    fill: #ff3600;
}

.centrePoint {
    fill: #ff3600;
}

.bigCircle {
    fill-opacity: 0;
}

.endCircle {
    fill: #ffba06;
}

.traceLine {
    stroke-width: 2;
    stroke: black;
}
